/*
*{
    padding: 0px;
    margin: 0px;
}
*/

body{

    margin: 0px 5% 0px 5%;
    background-color: rgb(216, 216, 216);
}

header h2{
    background-color: rgb(24, 123, 180);
    color: black;
}

nav{
    margin-top: 20px;
    padding-top: 15px;
    background-color: rgb(31, 163, 196);
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border: 3px solid black;
}

nav ul li{

    text-align: left;
    width: 80%;
    display: block;
    margin: auto;
}

h1{
    text-align: center;
    color: black;
    background-color: rgb(24, 123, 180);
}

h2{
    color: black;
    text-align: center;
    background-color: rgb(24, 123, 180);
}

h3{
    color: black;
    text-align: center;
    background-color: rgb(24, 123, 180);
}

h4{
    color: black;
    text-align: center;
    background-color: rgb(24, 123, 180);
}

h5{
    color: black;
    text-align: center;
    background-color: rgb(24, 123, 180);
}

h6{
    color: black;
    text-align: center;
    background-color: rgb(24, 123, 180);
}

em{
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(24, 123, 180);
}

p{
    width: 80%;
    margin: auto;
    background-color: rgb(158, 158, 158);
    color: white;
    padding: 10px 10px 10px 10px;
    border: 2PX solid black; 
}

ul{
    margin-top: 15px;
    width: 70%;
    margin: auto;
}

li{

    margin-top: 15px;
}

a{    
    margin-top: 15px;
    display: block;
    text-align: center;
}

img{

    margin: auto;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    display: block;
}

.copyright{

    margin-top: 15px;
    display: block;
    font-size: 20px;    
    text-align: center;
}

footer{

    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}